.todo-app-wrapper {
  margin: auto;
  width: 100%;
  padding-top: 10vh;
}

#title {
  text-align: center;
}

.todo-app-box {
  border: 1px solid #000;
  width: 25%;
  border-radius: 6px;
  padding: 1rem;
  margin: auto;
  text-align: center;
}

input {
  height: 40px;
  width: 85%;
}

button {
  height: 40px;
}

.todo-list-wrapper {
  margin-top: 1rem;
}

.todo-item-container {
  border: 1px solid #000;
  border-radius: 3px;
  padding: 0.2rem 1rem;
}